:root {
    --laranja: #e38826;
    --cyan: #006970;
    --dark-cyan: #004241;
    --cinza: #f2f2f2;
    --font-lexend: 'Lexend Deca', sans-serif;
    --font-big-shoulders: 'Big Shoulders Display', cursive;
}

.botao {
    color: white;
    font-family: var(--font-lexend);
    background-color: white;
    border: 2px solid white;
    border-radius: 23px;
    padding: 0.7rem 0.8rem;
}